@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Sans&family=Playfair+Display+SC&display=swap');
html {
    scroll-behavior: smooth;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
}

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #251313;
}

nav a {
    padding: 8px 12px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Playfair Display SC', serif;
    letter-spacing: 0.16em;
    color: #D3D3D3FF;
}

nav a:hover {
    background-color: #D3D3D3FF;
    color: #251313;
}
nav a:active {
    background-color: #D3D3D3EE;
    color: #251313;
}

header {
    padding: 32px;
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

header .banner {
    position: relative;
    bottom: -60%;
    left: 20%;
    font-family: 'Abril Fatface', cursive;
    font-size: 6em;
    color: lightgray;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.image-box {
    height: 70%;
    padding: 10% 5%;
}

.image-box .image {
    height: 70%;
}

.image-box .person {
    height: 60%;
    margin-left: -30%;
    margin-bottom: -5%;
}

.text {
    padding: 10% 5%;

}

section[id="about"] {
    padding: 48px;
    height: 100vh;
    background-color: lightgray;
    background-size: cover;
    flex-direction: row;
}

section h2 {
    font-family: 'Playfair Display SC', serif;
    padding: 5%;
}

section[id="portfolio"] {
    text-align: center;
    padding: 48px;
    height: 100vh;
    background-color: lightgray;
    background-size: cover;
}

.portfolio-img {
    width: 100%;
}

.card {
    margin: 4px;
    width: 400px;
    background-color: white;
    justify-content: end;
}

.card p {
    padding-bottom: 5%;
}

section[id="contacts"] {
    text-align: center;
    background-color: lightgray;
    background-size: cover;
}

section[id="contacts"] h2 {
    padding: 16px;
}

section[id="contacts"] p {
    line-height: 1.6em;
}

section[id="contacts"] img {
    padding: 8px;
    opacity: .5;
}
section[id="contacts"] img:hover {
    opacity: 1;
}

section[id="contacts"] img:active {
    opacity: .7;
}

.vertical-gap {
    height: 2em;
}

footer {
    text-align: center;
    color: lightgray;
    font-family: 'Playfair Display SC', serif;
    padding: 48px;
    height: 100px;
    background-color: #251313;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: lightgray;
    border-radius: 5px;
    width: 30%;
    position: relative;
    text-align: center;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin: 20px;
    color: #251313;
    font-family: 'Playfair Display SC', serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #251313;
}
.popup .close:hover {
    color: #25131399;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.btn-close {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #251313;
    color: lightgray;
}

.btn-close:hover {
    background-color: #251313E0;
}
.btn-close:active {
    background-color: #251313EE;
}

.hamburger {
    display: none;
}

.btn-menu {
    cursor: pointer;
    background-color: #251313;
    color: lightgray;
    padding: 4px;
}

.btn-menu:hover {
    background-color: lightgray;
    color: #251313;
}

.dropdown {
    position: fixed;
    top: 38px;
    right: 0;
    font-family: 'Playfair Display SC', serif;
    background-color: #251313;
}

.dropdown li {
    padding: 4px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: 'Playfair Display SC', serif;
    color: lightgray;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .menu {
        display: none;
    }
}